:root {
  --container-gap: 1rem;
}

html {
  font-size: var(--html);
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  @apply text-body bg-neutral-700 text-white;
}

.row {
  @apply grid grid-cols-2 gap-1 sm:grid-cols-6 md:grid-cols-12 md:gap-2;
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XS ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width:theme("screens.xs") ) {
  :root {
    --container-gap: 2rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// SM ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width:theme("screens.sm") ) {
  :root {
    --container-gap: 4rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// XG ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg") ) {
  :root {
    --container-gap: 3rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xl") ) {
  :root {
    --container-gap: 4rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.2xl") ) {
  :root {
    --container-gap: 3.5%;
  }
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 3XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.3xl") ) {
  :root {
    --container-gap: 4%;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 4XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.4xl") ) {
  :root {
    --container-gap: 4%;
  }
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 5XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.5xl") ) {
  :root {
    --container-gap: 10%;
  }
}
