:root{
  --container-gap: 1rem;
  --html: 10px;
}

html {
  font-size: var(--html);
  scroll-behavior: smooth;
}

@media( prefers-reduced-motion:reduce ){
  html {
    scroll-behavior: auto;
  }
}

body {
  @apply text-body bg-neutral-700 text-white;
}

.row {
  @apply grid grid-cols-2 gap-1 sm:grid-cols-6 md:grid-cols-12 md:gap-2;
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XS ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: 375px) {

  :root{
    --container-gap: 2rem;
    --html: 10px;
  }

}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// SM ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: 768px) {
 
  :root{
    --container-gap: 4rem;
    --html: 11px;
  }

}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// XG ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: 992px) {

  :root{
      --container-gap: 3rem;
      --html: 12px;
  }

}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: 1064px) {

  :root{
      --container-gap: 4rem;
      --html: 8px;
  }

}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: 1280px) {

  :root{
      --container-gap: 3.5%;
      --html: 9px;
  }

}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 3XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: 1536px) {

  :root{
      --container-gap: 4%;
      --html: 9.5px;
  }

}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 4XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 1920px) {

  :root{
      --container-gap: 4%;
      --html: 10px;
  }

}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 5XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 2560px) {
  
  :root{
      --container-gap: 10%;
      --html: 12px;
  }

}
