/*@font-face {
font-family: 'Akkurat';
src: url('../../Akkurat-Bold.woff2') format('woff2'),
    url('../../Akkurat-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
}*/

:root {
    --html: 10px;
    --txt-big: theme(fontSize.big);
    --txt-body: theme(fontSize.body);
    --h1: theme(fontSize.h1);
    --h2: theme(fontSize.h2);
    --h3: theme(fontSize.h3);
    --small: theme(fontSize.small);
  }
  
  body {
    font-size: var(--txt-body);
  }
  
  p {
    @apply text-pretty;
  }
  
  .txt-body {
    font-size: var(--txt-body);
  }
  
  .txt-big {
    font-size: var(--txt-big);
  }
  
  .h1 {
    font-size: var(--h1);
    @apply text-balance;
  }
  
  .h2 {
    font-size: var(--h2);
    @apply text-balance;
  }
  
  .h3 {
    font-size: var(--h3);
    @apply text-balance;
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*/////////////////////////// XS ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.xs")) {
    :root {
      --html: 10px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*////////////////////////// SM ////////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.sm")) {
    :root {
      --html: 11px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*////////////////////////// XG ////////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.xg")) {
    :root {
      --html: 11px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*/////////////////////////// XL ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.xl")) {
    :root {
      --html: 9px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*////////////////////////// 2XL ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.2xl")) {
    :root {
      --html: 10px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*/////////////////////////// 3XL //////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.3xl")) {
    :root {
      --html: 11px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*////////////////////////// 4XL ///////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.4xl")) {
    :root {
      --html: 12px;
    }
  }
  
  /*//////////////////////////////////////////////////////////*/
  /*/////////////////////////// 5XL //////////////////////////*/
  /*//////////////////////////////////////////////////////////*/
  
  @media (min-width: theme("screens.5xl")) {
    :root {
      --html: 15px;
    }
  }
  