---
// export const prerender = false;
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Layout from "../layout/Layout.astro";
import Cards from "../layout/Cards.astro";
import Grid from "../components/Grid.astro";
import Icons from "../components/Icons.astro";

/* Slider */
import Slider from "../components/Slider.astro";

/* Formulario */
import NetliForm from "../components/NetliForm.astro";

import Accordion from "../components/Accordion.astro";
import getAccData from "../data/accordion.json";
const accData = Object.values(getAccData);

/* Switcher */
// import Switcher from "../components/Switcher.astro";

/* Filter with viewtrasition */
import FilterTransition from "../components/FilterTransition.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<Layout
  title="AstroBox"
  claim="El nuevo framework de maquetación de sitios de I+D"
  description="El nuevo framework de maquetación de sitios de I+D"
>
  <Grid />

  <section class="container row section-t">
    <div class="col-[1/13]">
        <h1 class="h1 mb-5">
          {t('home.sec1.title')}
        </h1>
        <p>
          {t('home.sec1.txt')}
        </p>
    </div>
  </section>

  <div class="section">
    <Slider />
  </div>

  <div class="container section-b">

    <div class="row">
      <div class="xg:col-[1/13] mb-10">
        <h2 class="h1 font-bold">Cards</h2>
      </div>
    </div>

    <Cards />
  </div>

  <div class="container">

    <div class="row">
      <div class="xg:col-[1/13] mb-10">
        <h2 class="h1 font-bold">Accordion</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-[1/13] md:col-[1/6]">
        <Accordion content={accData} />
      </div>
      <div class="col-[1/13] md:col-[7/12]">
        <Accordion content={accData} />
      </div>
    </div>

  </div>

  <Icons />

  <!-- <Switcher /> -->
  <FilterTransition />

  <div id="contacto" class="container row section">
    <div class="col-[1/13] md:col-[1/6]">
      <h2 class="h2">Contacto</h2>
    </div>
    <div class="col-[1/13] md:col-[7/12]">
      <NetliForm />
    </div>
  </div>
</Layout>
