---
import Layout from "../layout/Layout.astro";
import Cards from "../layout/Cards.astro";
import Grid from "../components/Grid.astro";
import Form from '../components/Form.astro'

/* Accordion */
import Accordion from "../components/Accordion.astro"
import getAccData from '../data/accordion.json'
const accData = Object.values(getAccData);

/* Slider */
import Slider from "../components/Slider.astro";
import getSlides from "../data/slides.json"
const Slides = Object.values(getSlides);
// export const prerender = false; 
---
<Layout 
    title="The best Landing"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus corrupti vero itaque nemo dicta repellat eius quos suscipit odio."
    >
  <Grid />

  <div class="section">
    <Slider slides={Slides}  />
  </div>

  <div class="container section-b">
    <Cards/>
  </div>
  
  <div class="container row">
    <div class="col-[1/13] md:col-[1/6]">
      <Accordion content={accData} />
    </div>
    <div class="col-[1/13] md:col-[7/12]">
      <Accordion content={accData} />
    </div>
  </div>

  <div id="contacto" class="container row section">
      <div class="col-[1/6]">
        <h2 class="h2">
          Contacto
        </h2>
      </div>
      <div class="col-[7/12]">
        <Form/>
      </div>
  </div>

</Layout>
