---
const homeUrl = import.meta.env.HOME_URL ?? '/';
const { width } = Astro.props;

// console.log(siteUrl);

---

<a href={homeUrl} class={`${width} block`} data-astro-prefetch="hover" >
    <img src={`${homeUrl}img/logos/logo.svg`} alt="" loading='lazy' decoding='async' />
</a>