---
import { languages } from '../i18n/ui';
import { getLangFromUrl, currPage, useTranslatedPath } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
let pageURL = "";


let lang_label = "";

if( lang === 'en' ){
  lang_label = "Es";
  pageURL = currPage( Astro.url.pathname, lang, 'es', 'es' );
}else{ // es
  lang_label = "En";
  pageURL = currPage( Astro.url.pathname, lang, 'es', 'en' );
}

---
<style>

  ul{
    @apply leading-none;
  }

  a{
        @apply 
            text-h1 
            mb-1 
            xg:text-body
            xg:mb-0
            leading-none
    }
</style>

<ul class="flex gap-1">
    <li>
      <a href={`${pageURL}`} >
        {lang_label}
      </a>
    </li>
</ul>