---
import "../styles/components/forms.css";
---

<form
  name="form"
  action="/?form=ok"
  netlify
  data-netlify-recaptcha="true"
  method="post" 
  accept-charset="utf-8"    
>
    <input
      type="text"
      name="name"
      placeholder="Nombre y Apellido"
      required
    />


    <input
      type="email"
      name="email"
      placeholder="Correo electronico"
      title="Debe ser un correo valido"
      required
    />

    <input
      type="tel"
      name="phone"
      placeholder="Telefono"
      required
      minlength="9"
      maxlength="18"
    />

    <textarea
      name="message"
      placeholder="Mensaje..."
      minlength="16"></textarea>
    <div class="valid-msg">Tu mensaje debe ser de mas de 16 caracteres.</div>

  <div data-netlify-recaptcha="true"></div>

    <button type="submit" class="btn submit btn-solid-black btn-lg btn-circular" disabled >
      <span class="flex align-center">
        <span class="loader mr-1"></span>
        <span class="white">Enviar</span>
      </span>
    </button>

</form>

<script>
//   import netliValid from '../js/netliValid'
//   netliValid();
</script>
