---
import CardFilms from "../components/CardFilms.astro";

/* Get posts from json */
// import getPosts from '../data/posts.json'
// const posts = Object.values(getPosts);

const response = await fetch('https://api.idmedia.uy/wp-json/wp/v2/pages?slug=ufilms&per_page=8');
const getFilms = await response.json();
const films = getFilms[0].acf.films;
---

<div id="cards" class="grid sm:grid-cols-2 xg:grid-cols-4 gap-2">

	{
		films.slice(0, 8).map( film => (
			<CardFilms { film } />
		))
	}

</div>
