---
import "../css/layout/header.css";
import Brand from "../components/Brand.astro";
import Burger from "../components/Burger.astro";
import Menu from "../components/Menu.astro";
import SocialLinks from '../components/SocialLinks.astro'
const homeUrl = import.meta.env.HOME_URL ?? '/';
---
<header class="container row py-4 mb-4" >
    <div class="col-span-2 sm:col-span-3 md:col-span-3">
        <Brand width="w-40% md:w-full xg:w-50%" />
    </div>
    <div class="col-span-2 sm:col-span-3 md:col-[7/11]">

        <Menu items={
            [
                ['Home', homeUrl ],
                ['About', `${homeUrl}about`],
                ['Services', '#cards'],
                ['Modal','demo','m-link'],
                ['Icons','#icons'],
                ['Contact', '#contacto']
            ]
        } />

        <Burger/>
        
    </div>

    <div class="col-[11/13] hidden xg:flex justify-end">
        <div class="flex gap-1 text-white">
            <SocialLinks />
        </div>
    </div>

</header>
